* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 100px;
}


.area-index{
  background-color: #251338ee;  
  background: -webkit-linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f);  
  width: 100%;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
/*   background-image: linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f); */
  z-index: -1;

}

.area-aboutme{
  background-color: #074780;  
  background: -webkit-linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f);  
  width: 100%;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
/*   background-image: linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f); */
  z-index: -1;

}

.area-projects{
  background-color: #751010;  
  background: -webkit-linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f);  
  width: 100%;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
/*   background-image: linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f); */
  z-index: -1;

}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 15s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


svg {
  fill: white;
  height: 1.5rem;
}

body {
  cursor: none;
  display: flex;
  align-items: center;
  flex-flow: column;
  color: white;
  line-height: 1.4;
  overflow-x: hidden;
  font-family: "Source Sans 3", sans-serif;
  padding: 5rem;
  height: 100vh;
  gap: 6rem;
}

.aboutme-title {
 font-size: clamp(6px, 6vw, 40px); 
  text-align: center;
}

.content-text-animation {
  display: flex;
}
.writing-bar {
  display: flex;
  width: 3px;
  height: 70px;
  margin-left: 5px;
  background-color: white;
  transform: rotateZ("10deg");
  animation: bar-animation 1s ease infinite;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(0px, 100vw, 1000px);
  height: 2rem;
  padding: 2rem;

}



ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

li a {
  display: inline-block;
  cursor: none;
  color: white;
  text-decoration: none;
  background: no-repeat bottom center/0% 1px linear-gradient(white, white);
  padding-block: 0.5rem;
  transition: 0.5s;
}

li a:hover {
  background: no-repeat bottom left/100% 1px linear-gradient(white, white);
  transform: scale(1.1);
}

nav a svg {
  transition: transform 0.4s ease;
}

nav a svg:hover {
  transform: scale(2);
}


main {
  flex: 1;
  display: flex;
  flex-flow: column;
  width: clamp(0px, 80vw, 1000px);

}

.projects-main{
  width: auto;
}

embed {
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 30px;
  width: clamp(0px, 70vw, 1000px);
}


footer a {
  cursor: none;
}

footer svg {
  transition: transform 0.4s ease;
}

footer svg:hover {
  transform: scale(2);
}

.cursor-outline {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.cursor-dot {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}


.name-title {
  font-size: clamp(12px, 12vw, 6rem);
  margin-right: 0.5em;
}

.typewriter {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 12vw, 6rem);
  font-weight: bold;
  height: 1.5em;
}

.info a {
  text-decoration: none;
  color: currentColor;
}

/* ABOUT ME PAGE */


.about-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  transition: transform 0.4s ease;
  font-size: 1.2rem;
}

.about-me:hover {
  transform: scale(1.3);
}

.name-title__desc {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  line-height: 2;
  
}

.info {
  flex: 1;


}

.info-aboutme h2 {
  font-size: 3rem;
}


.about-me svg {
  animation: bounce 1s both infinite;
}

.iconos svg {
  width: 150px;
  height: 150px;
}

.info-estudios {
  float: left;
}

.estudios {
  display: flex;

  align-items: center;
  margin-bottom: 4rem;
  transition: transform 0.4s ease;
}
.estudios-title{
  border-bottom: 1px solid;
}

@media (max-width: 550px) {
  .estudios  {
    flex-direction: column-reverse;
  }
}

.estudios:hover{
  transform: scale(1.1);
}

.estudios img {
  width: clamp(7px, 70vw, 350px); 
  aspect-ratio: 1;

}

.job-title{
  border-bottom: 1px solid;
}


.title-practicante {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}
.title-trainee {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.experiencia-laboral {
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
  margin-bottom: 4rem;
}
@media (max-width: 900px) {
  .experiencia-laboral  {
    flex-direction: column;
  }
}

.experiencia-laboral:hover {
  transform: scale(1.1);
}

.experiencia-laboral img {
  width: clamp(7px, 70vw, 400px); 
  align-items: center;
}

/* Skills */

.skills{
  text-align: center;
  margin-bottom: 1rem;
}

.skills h3{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.skills svg{
  height: 100%;
  aspect-ratio: 1;
}


.skills p{
  color: black;
}

.svgbg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 9rem;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  transition: transform 0.4s ease;
}

.svgbg:hover{
  transform: scale(1.1);
}

.skills-title{
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid;
}

.data-analist{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.front-end{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;

}

.data-base{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.automatizadores{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.otroslenguajes{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.herramientas{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}


.courses{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.courses-title{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
  border-bottom: 1px solid;
}

.courses img {
  width: clamp(7px, 85vw, 600px); 
  margin: 30px;
  transition: transform 0.4s ease;
}
.courses img:hover {
  transform: scale(1.1);
}


h2 svg {
  height: 2.5rem;
}


.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }

 .download-button svg{
  fill: none;
 }
 .download-button a{
  display: inline-block;
  color: white;
  text-decoration: none;
 }




 /* PROJECTS PAGES */

 .projects-title {
  font-size: clamp(6px, 6vw, 20px); 
   text-align: center;
 }
 .cards a{
  text-decoration: none;
 }

  input {
  display: none;
 }

 .container{

  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-direction: column;
 }

 .cards{
  position: relative;
  height: 500px;
  width: 430px;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-bottom: 4rem;
 
 }

 .cards label{
  width: clamp(100px,70vw,430px);
  height: clamp(200px,70vw,500px);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
  
 }

 .cards .card{
  position: relative;
  background-color: #2f2f2ffe;
  border-radius: 10px;
  padding: 30px 35px;
  filter: drop-shadow(
    0 0 20px rgb(17, 17, 17)

  );
}

.cards .image{
  display: flex;
  justify-content: center;
  cursor: none;
}

.cards .image img{
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 23px;
  width: 86%;
  height: 220px;
  object-fit: cover;
  transition: all .7s;
}

.cards .image img:hover{
  transform: scale(1.05);
}


.card .infos{
  display: block;
  text-align: start;
  padding-top: 30px;
  
}

.card .infos span{
  display: block;

}
.infos .name{
  font-size: 30px;
  color: white ;
  margin-bottom: 20px;
  padding-left: 0;
  transition: all .6s ease;
  font-weight: 900;
  text-align: center;
}


.card .lorem{
  text-align: center;
  font-size: 15.5px;
  color: #eceaed;
  letter-spacing: 3px;
}

.card .btn-details{
  width: 100%;
  height: 60px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  transition: all .7s ease;
}

.card .btn-details:hover{
  transform: scale(1.09);
}


/* 1 */
 #s1:checked~.cards #slider4,
 #s2:checked~.cards #slider5,
 #s3:checked~.cards #slider1,
 #s4:checked~.cards #slider2,
 #s5:checked~.cards #slider3{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1:#ee9b938b;
  --current-color2:#404457;
 }

/* 2 */
 #s1:checked~.cards #slider5,
 #s2:checked~.cards #slider1,
 #s3:checked~.cards #slider2,
 #s4:checked~.cards #slider3,
 #s5:checked~.cards #slider4{
  box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
  --current-color1:rgba(246, 8, 8, 0.351);
  --current-color2:#404457;
 }

/* 3 */
 #s1:checked~.cards #slider1,
 #s2:checked~.cards #slider2,
 #s3:checked~.cards #slider3,
 #s4:checked~.cards #slider4,
 #s5:checked~.cards #slider5{
  box-shadow: 0 25px 50px rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1:rgba(246, 8, 8, 0.351);
  --current-color2:#eceaed;
 }

/* 4 */
 #s1:checked~.cards #slider2,
 #s2:checked~.cards #slider3,
 #s3:checked~.cards #slider4,
 #s4:checked~.cards #slider5,
 #s5:checked~.cards #slider1{
  box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1:#e755488b;
  --current-color2:#eceaed;
 }

/* 5 */
 #s1:checked~.cards #slider3,
 #s2:checked~.cards #slider4,
 #s3:checked~.cards #slider5,
 #s4:checked~.cards #slider1,
 #s5:checked~.cards #slider2{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1:#ee9b938b;
  --current-color2:#404457;
 }
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }


@keyframes bounce {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes bar-animation {
  50% {
    height: 20px;
  }
}