* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 100px;
}


.area-index{
  background-color: #0e021af5;   
  background: -webkit-linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f);  
  width: 100%;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  background-image: linear-gradient(to bottom, rgba(51, 21, 81, 0.86), #0e021af5); 
  z-index: -1;

}

.area-aboutme{
  background-color: rgb(3, 43, 84);  
  background: -webkit-linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f);  
  width: 100%;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  background-image: linear-gradient(to bottom, rgba(23, 74, 128, 0.86), #03111e);
  z-index: -1;

}

.area-projects{
  background-color: #420f0f;  
  background: -webkit-linear-gradient(to bottom, rgba(48, 50, 51, 0.86), #0b0d0f);  
  width: 100%;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  background-image: linear-gradient(to bottom, rgba(109, 29, 29, 0.86), #1b0202); 
  z-index: -1;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 15s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


svg {
  fill: white;
  height: 1.5rem;
}

body {
  display: flex;
  align-items: center;
  flex-flow: column;
  color: white;
  line-height: 1.4;
  overflow-x: hidden;
  font-family: "Source Sans 3", sans-serif;
  padding: 5rem;
  height: 100vh;
  gap: 6rem;

}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(0px, 100vw, 1000px);
  height: 2rem;
  padding: 2rem;
  animation: load 3.3s forwards;
  transition:  .5s;
  position: fixed;
  z-index: 2;
  border-radius: 10px;
}

.nav-blur{
  backdrop-filter: blur(50px);
  background-color: #ebebeb10;
  margin-top: -80px;

  transition:  1s;
}

nav img{
  height: 15px;
}

.change-language{
  display: flex;
  align-items: center;
  gap: 6px;
  
  
}
.change-language img{
padding-bottom: 1px;  
}


ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  
}

li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background: no-repeat bottom center/0% 1px linear-gradient(white, white);
  padding-block: 0.5rem;
  transition: 0.5s;
}

li a:hover {
  background: no-repeat bottom left/100% 1px linear-gradient(white, white);
  transform: scale(1.2);
}

nav a .logo-Home{
  transition: transform 0.4s ease;
}

nav a .logo-Home:hover {
  transform: scale(1.6);
}

.logo-Home{
  height: 20px;
}

/* MAIN */

main {
  margin-top: 10rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  width: clamp(0px, 80vw, 1000px);
  animation: load 4s forwards

}

.name-title__desc{
  margin-bottom: 3rem;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 2;
}

.projects-main{
  width: auto;
}

embed {
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 30px;
  width: clamp(0px, 70vw, 1000px);
  animation: load 3.3s forwards
}


footer svg {
  transition: transform 0.4s ease;
}

footer svg:hover {
  transform: scale(2);
}

@font-face {
  font-family: "AcornBold";
  src: url(acorn/Acorn-Bold.otf) format('opentype');
}

@font-face {
  font-family: "AcornLight";
  src: url(acorn/Acorn-ExtraLight.otf) format('opentype');
}

.name-title {
  font-size: clamp(12px, 9vw, 6rem);
  margin-right: .3em;
}

.typewriter {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 9vw, 6rem);
  font-weight: bold;
  height: 1.5em;
  font-family: AcornBold;
  font-style: italic;
}
.content-text-animation {
  display: flex;
}
.writing-bar {
  display: flex;
  width: 3px;
  height: clamp(12px, 9vw, 6rem);
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: white;
  transform: rotateZ("10deg");
  animation: bar-animation 1s ease infinite;
}

.info{
  flex: 1;
  animation: home-page 2s forwards;
}

.info a {
  text-decoration: none;
  color: currentColor;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 36px;
  border: 1px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
  cursor: pointer;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(255, 255, 255);
  z-index: 9;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  opacity: 0;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 30px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(164, 163, 164);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}



.available-work{
  display: flex;
  align-items: center;
  background-color: #272e35;
  gap: 8px;
  width: fit-content;
  font-size: 1.1rem;
  border-radius: 30px;
  padding: 10px 20px;
  position: relative;
}
.available-work::after{
  background-color: #28da9c5c;
  animation: pulse 1.9s both infinite;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 99999px;
  left: 18px;

}
.available-work::before{
  flex-shrink: 0;
  background-color: #28da9b;
  animation: pulse 1.9s both infinite;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 99999px;
}


.about-work{
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 580px) {
  .about-work{
    flex-direction: column;
    align-items: center;
  }
}

/* ABOUT ME PAGE */


/* EXPERIENCIA LABORAL */

.experience-title {
  font-family: AcornBold;
  font-size: clamp(6px, 6vw, 40px); 
  text-align: center;
  animation: home-page 4s forwards
}

.experiencia-laboral {
  animation: home-page 4s forwards
}

.job-title{
  border-bottom: 1px solid;
  font-family: AcornBold;
  text-align: right;
  padding-right: 5rem;
}

.title-job{
  font-size: 22px;
  font-weight: 700;
  text-align: center;

}

.info-job{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  flex-basis: 40%;
  margin-bottom: 3%;
}

.text-job{
  display: flex;
  align-items: center;
  flex-basis: 60%;
  padding-left: 2%;

}
.duracion{
  margin-top: .3rem;
  font-size: 13px;
  text-align: center;
  background-color:rgb(250 204 21);
  color: #000;

  ;
  border-radius: 40px;
  width: 200px;
  padding-inline: 1rem;
}

/* PRACTICANTE */

.practicante{
  display: flex;
  transition: transform 0.4s ease;
  padding-block: 1rem;
}

.practicante:hover {
  transform: scale(1.05);
}

/* TRAINEE */

.trainee{
  display: flex;
  transition: transform 0.4s ease;
  padding-block: 1rem;
}

.trainee:hover {
  transform: scale(1.05);
}

.experiencia-laboral {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}


.experiencia-laboral svg{
  padding-top: .5rem;
}
@media (max-width: 700px) {
  .practicante , .trainee{
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .job-title{
    text-align: center;
    padding-right: 0;
  }
}

.experiencia-laboral img {
  width: clamp(7px, 70vw, 200px); 
  align-items: center;
}

.info-aboutme h2 {
  font-size: 3rem;
}


.iconos svg {
  width: 150px;
  height: 150px;
}

/* ESTUDIOS */

.estudios-title{
  width: 100%;
  font-family: AcornBold;
  text-align: center;

}
.estudios svg{
  padding-top: .5rem;
}


.estudios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.estudios img {
  width: clamp(7px, 70vw, 140px); 
  aspect-ratio: 1;
}
.estudios h3{
  font-size: 15px;
  font-weight: 300;
}


.title-estudios{
  font-size: 22px;
  font-weight: 700;
  text-align: center;

}

.info-estudios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  flex-basis: 40%;
  margin-bottom: 3%;
}

.text-estudios{
  display: flex;
  align-items: center;
  flex-basis: 60%;

}

@media (max-width: 550px) {
  .tecnologo  {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .estudios-title{
    text-align: center;
    padding-left: 0;
  }
}

.tecnologo{
  display: flex;
  width: 100%;
  padding-block: 1rem;
  transition: transform 0.4s ease;
}
.tecnologo:hover {
  transform: scale(1.05);
}


/* Skills */

.skills-title{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
  font-family: AcornBold;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.skills-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 1rem;
  justify-content: center;
}

.skills-container > div{
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr ;
  background-color: #03111e88;
  border-radius: 20px;
  color: #ffffff;
  transition: all .5s;
  cursor: pointer;
}

.skills-container > div:hover{
  box-shadow: 0px 0px 20px 1px #0c9db778;
  transform: scale(1.03);
}

@media (max-width: 880px) {
  .skills-container {
    grid-template-columns: 1fr;
  }

} 


.skills-container h3{
  grid-column: span 3;
  font-size: clamp(16px, 5vw, 25px); 
  text-align: center;
}
.skills-container p{
  font-size: .9rem;
}


.skill-icons {
  gap: 10px;
  width: clamp(2px, 12vw, 100px); 
  display: flex;
  aspect-ratio: 1;
  text-align: center;
  border-radius: .5em;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;
}

.skill-icons svg{
  width: 100%;
  height: 100%;
}


.frontend{
  grid-column: span 2;
}
.frontend h3{
  background: -webkit-linear-gradient(#00bbff 50%, hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.data-analist{
  grid-column: span 1;
}

.data-analist h3{
  background: -webkit-linear-gradient(#ffae00 50%, hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.backend h3{
  background: -webkit-linear-gradient(#00ff9d 50%, hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lenguajes h3{
  background: -webkit-linear-gradient(#fd6412 75%, hsla(0, 0%, 100%, 0.583));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.herramientas h3{
  background: -webkit-linear-gradient(#9642d7 50%, hsla(0, 0%, 100%, 0.459));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* COURSES */
.courses-title{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
  font-family: AcornBold;
}

.courses-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr ;
  gap: 1rem;
  margin-bottom: 4rem;

}
.courses-container > div{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb3c;
  background-color: #0000003c ;
  border-radius: 20px;

}

.courses img {
  width: 80%;
  height: 80%;
  transition: transform 0.4s ease;

}
.courses-container  > div:hover > .course-hover{
  opacity: 1;
  visibility: visible;
}
.courses-container  > div:hover img{
  transform: scale(1.05);
}

.course-hover{
  color: #fff;
  position: absolute;
  border-radius: 20px;
  background-color: #272935a3;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  align-content: center;
  transition: all .3s;
}

.course-hover button{
  background-color:#00bbff;
  border-radius: 20px;
  border: 1px solid white;
  padding: 2% 5%;
  color: white;
  margin-block: 30px;
  transition: all .7s;
  cursor: pointer;
}

.course-hover button:hover{
  transform: scale(1.03);
  transition: all .7s;
  filter: drop-shadow(0 0 5px rgba(247, 247, 247, 0.8));
}




h2 svg {
  height: 2.5rem;
}


 /* PROJECTS PAGES */

 .projects-title {
  font-family: AcornBold;
  font-style: italic;
  font-size: clamp(6px, 6vw, 40px); 
  text-align: center;
  animation: home-page 2s forwards
 }
 


 @keyframes pulse {
    0%
    {
      transform: scale(1);
      opacity: 50%;
    }
    
    80%
    {
      transform: scale(1.2);
      opacity: 100%;
    }


    100%
    {
      transform: scale(1);
      opacity: 50%;
    }


}

@keyframes bounce {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes bar-animation {
  50% {
    height: 20px;
  }
}

@keyframes load {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 100%;
  }

}

@keyframes home-page {
  0%{
    transform: translateY(30%);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 100%;
  }

}